$colors: (
  "border-gray": #b2b0c0,
  "background-blue": #f4f5ff,
  "text-primary-light": #3c4267,
  "button-primary-default": #fe9539,
);

$breakpoints: (
  "xs": 375px,
  "sm": 640px,
  "md": 768px,
  "lg": 1280px,
  "xl": 1920px,
);

$font-weights: (
  "bold": 700,
  "regular": 400,
);
